<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p class="textColor">Email: <span class="resText"><%= email %></span></p>
    <p class="textColor">
      Password: <span class="resText"><%= password %></span>
    </p>
    <a href="/" class="textLink">Назад</a>
  </body>
</html>
